* {
    margin: 10;
    padding: 10;
    border: 10;
}



.Yellow {
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    background-color: yellow;  
    text-align: center; 
}

.link {
    font: arial;
    color:blueviolet;
    font-size: medium;
    font-weight: bold;
}